* text=auto eol=lf

*.less linguist-detectable=false
*.php linguist-detectable=false
*.css linguist-detectable=false
*.blade linguist-detectable=false 

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
